table{
    width: 75%;
    color: black;
    border-collapse: collapse;
}

th,td{
    border-bottom: 1px solid black
}

th{
    font-weight: bold;
    text-transform: uppercase;
}

td{
    padding: 5px;
    width: 100px;
    height: 50px;
    text-align: left;
}

tr:hover{
    background: #989898;

}

tr:nth-child(odd){
    background: #989898;
}